VITE_APP_NAME=Compras Nutritivo Chile
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SPREADSHEET_ID=
GOOGLE_SHEETS_PURCHASE_HEADERS=purchase_headers
GOOGLE_SHEETS_PURCHASE_LINES=purchase_lines
GOOGLE_SHEETS_PROVIDERS=providers
GOOGLE_SHEETS_LATEST_PRICES=latest_prices
GOOGLE_SHEETS_PICKUP_LOCATIONS=pickup_locations
GOOGLE_SHEETS_PARSER_ALIASES=parser_aliases
GOOGLE_SHEETS_APP_SETTINGS=app_settings
